*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body{
    background-color: #14141f;
    color: #fff;
    font-family: 'Roboto',sans-serif;
}